/* Global variables */
:root {
    --slideover-default-bg: #eaf8fa;
    --slideover-default-text: #083e44;
    --slideover-default-border: 1px solid #083e44;;
}

/* Global slideover styling */
.slideover__content {
    background: var(--slideover-default-bg) !important;
    color: var(--slideover-default-text) !important;
    border: var(--slideover-default-border) !important;
}

/* Right-aligned emphasis border */
.slideover--r.slideover__content {
    border-left-width: 5px !important;
}

/* Left-aligned emphasis border */
.slideover--l.slideover__content {
    border-right-width: 5px !important;
}

/* Top-aligned emphasis border */
.slideover--t.slideover__content {
    border-bottom-width: 5px !important;
}

/* Bottom-aligned emphasis border */
.slideover--b.slideover__content {
    border-top-width: 5px !important;
}

/* Bold text styling */

/* Link styling */

/* Link hover state styling */

/* Optional embedded callout styling */

/* Blockquote styling */

/* Code block styling */

/* Inline code styling */

