/* Global variables */
:root {
    --slideover-default-bg: #eaf8fa;
    --slideover-default-text: #083e44;
    --slideover-default-border: 1px solid #083e44;;
}

/* Global slideover styling */
.slideover__content {
    background: var(--slideover-default-bg) !important;
    color: var(--slideover-default-text) !important;
    border: var(--slideover-default-border) !important;
}

/* Right-aligned styling */

/* Bottom-aligned styling */

/* Left-aligned styling */

/* Top-aligned styling */

/* Bold text styling */

/* Link styling */

/* Link hover state styling */

/* Optional embedded callout styling */

/* Blockquote styling */

/* Code block styling */

/* Inline code styling */

